<style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111;
    }
    </style>
    </head>
    <body>
    
    <ul>
      
      <li><a href="/login">Login</a></li>
      <li><a class="active" href="/upload">Upload</a></li>
      <li><a href="/display">Display</a></li>
      <li><a href="/logout">logout</a></li>
      <li><a style="color: White;  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Hey <span style="color: red;">{{ request.user}} </span>Your PDFs along Text</a></li>
    </ul>
<br>
 
<style>   
    Body {  
      font-family: Calibri, Helvetica, sans-serif;  
      background-color: pink;  
    }  
    button {   
           background-color: #4CAF50;   
           width: 100%;  
            color: orange;   
            padding: 15px;   
            margin: 10px 0px;   
            border: none;   
            cursor: pointer;   
             }   
     form {   
            border: 3px solid #f1f1f1;   
        }   
     input[type=text], input[type=password] {   
            width: 100%;   
            margin: 8px 0;  
            padding: 12px 20px;   
            display: inline-block;   
            border: 2px solid green;   
            box-sizing: border-box;   
        }  
     button:hover {   
            opacity: 0.7;   
        }   
      .cancelbtn {   
            width: auto;   
            padding: 10px 18px;  
            margin: 10px 5px;  
        }   
            
         
        .container {   
            padding: 25px;   
            background-color: #82AAE3;  
        }   
    </style>  
    {% for object in dataset %}
    <div class="container">
    <a href={{ object.pdf }}>{{ object.pdf|cut:'/pdf/pdf/'}}</a>
    <li>{{ object.user }}</li>
    <textarea rows="30" cols="100">{{ object.text }}</textarea>
</div>
    <hr/>
   
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
</ul>